h1 {
  margin: 30px auto;
  text-align: center;
  display: block;
}

canvas {
  margin: 70px auto;
  display: block;
}

img {
  display: none;
}

#qRest {
  width: 50px;
  height: 50px;
}

#sRest {
  height: 40px;
  width: 25px;
  padding-bottom: 3px;
}
